.footer {
    
    color: rgb(0, 0, 0);
    padding: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
}

.footerText {
    margin: 0;
}
