.mail{
    margin-top: 2pc;
    display: flex;
    align-items: center;
    border: 1px solid rgb(80, 79, 79);
    border-radius: 30px;
    padding-top: 4px ;
    padding-bottom: 4px ;
    width: 77%;
}
.search{
    border: none;
    margin-left: 12px;
    outline: none;
    background-color: transparent;
}
.search::placeholder{
    color: black;
    font-size: 15px;
    font-weight: 600;
}
.notify{
    border: 1px solid black;
    border-radius: 20px;
    background-color: black;
    color: white;
    padding: 5px 30px;
    font-size: 15px;
    margin-left: 85px;
    
}
.notify:hover{
    background-color: rgb(31, 30, 30);
}

.mail {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .search {
    margin-right: 10px;
  }
  
  .notify {
    padding: 5px 10px;
  }
  
  .results {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .result-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
  
  .result-item img {
    max-width: 100%;
    height: auto;
  }
  